[Desktop Entry]
Version=1.0
Type=Link
Name=Phase correlation - Wikipedia
Comment=
Icon=user-bookmarks
URL=https://en.wikipedia.org/wiki/Phase_correlation
